{% extends "layout/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card mb-3" style="">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ bookmark.favicon }}" width="700px" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ bookmark.title }}</h5>
                        <p class="card-text">{{ bookmark.metaDescription }}</p>
                        <p class="card-text">{{ bookmark.metaKeywords }}</p>
                        {% if bookmark.password %}
                            <a href="/bookmark/{{ bookmark.id }}/remove" class="btn btn-primary">Удалить <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}