{% extends "layout/base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for message in app.flashes('success') %}
                <span class="badge badge-primary mt-3" id="successNotice">
                    {{ message }}
                </span>
            {% endfor %}
        </div>

        {% if pagination.getTotalItemCount > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ sortLink('Дата обновления', 'updatedAt', sortField, sortDirection)|raw }}</th>
                        <th scope="col">Иконка</th>
                        <th scope="col">{{ sortLink('URL', 'url', sortField, sortDirection)|raw }}</th>
                        <th scope="col">{{ sortLink('Заголовок страницы', 'title', sortField, sortDirection)|raw }}</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bookmark in pagination %}
                        <tr>
                            <th scope="row">{{ bookmark.updatedAt|date("d.m.Y") }}</th>
                            <td><img style="width: 40px;" src="{{ bookmark.favicon }}"></td>
                            <td><a href="{{ bookmark.url }}">{{ bookmark.url }}</a></td>
                            <td>{{ bookmark.title }}</td>
                            <td>
                                <a href="/bookmark/{{ bookmark.id }}" type="button" class="btn btn-info"><i class="fa fa-info" aria-hidden="true"></i></a>
                                {% if bookmark.password %}
                                    <a href="/bookmark/{{ bookmark.id }}/remove" type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        {% else %}
            Еще нет ни одной закладки!
            <a href="/add">Добавить закладку</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function() {
            setTimeout(function () {
                $('#successNotice').remove();
            }, 5000)

            $('#uploadExcelBtn').on('click', function (e) {
                e.preventDefault();
                window.location.href = '/export';
            });
        });
    </script>
{% endblock %}