{% extends "layout/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card mt-4 w-75" style="margin: 0 auto;">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}